<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    @Styles.Render("~/Content/css");
    


    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>

<body>

    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">

                    <img src="../assets/img/logo.png" />
                </a>

            </div>

            <div class="right-div">
                @if (Session["Id"] != null)
                {
                    <text> Přihlášen : @Session["UserName"].ToString()&nbsp;&nbsp;&nbsp;</text>
                    <a href="@Url.Action("Odhlaseni", "Home")" class="btn btn-danger pull-right">LOG OUT</a>
                }
                else
                {
                    <a href="@Url.Action("Prihlaseni", "Home")" class="btn btn-danger pull-right">LOG IN</a>
                }
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END--> 
    <section class="menu-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @if (Session["Id"] != null)
                            {
                                <li>@Html.ActionLink("Uzivatele", "Uzivatele", "Home")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Registrace", "Registrace", "Home")</li>
                                <li>@Html.ActionLink("Přihlášení", "Prihlaseni", "Home")</li>
                            }
                            <!--
                            <li>
                                <a href="#" class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown">UI ELEMENTS <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="ui.html">UI ELEMENTS</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EXAMPLE LINK</a></li>
                                </ul>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->


    @RenderBody()



    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">&copy; @DateTime.Now.Year - Created by Me</div>
            </div>
        </div>
    </section>

    @Scripts.Render("~/Content/jquery")
    @RenderSection("Scripts", required: false)

</body>

</html>


